<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white !important;">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="card">
    <div class="section-title">Data Pribadi</div>
    <ion-item>
      <ion-input
        label="Nama Lengkap"
        labelPlacement="stacked"
        placeholder="Contoh: Budi Santoso"
        [(ngModel)]="fullName"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" (click)="saveProfile()">Simpan Profile</ion-button>
  </div>
</ion-content>
